@media screen and (max-width: 991px) {

    h3 {
        font-size: 1.2rem;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav {
        overflow: initial;
    }

    .nav-link {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding: 20px;
        transition: 0.2s ease-in-out;    
            
    }

    .nav-link.active {
        left: 0;
    }

    #nav-primary-btn {
        width: 90vw;
    }

    #nav-secondary-btn {
        width: 90vw;
    }

    .nav-link ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .tester-img {
        display: none;
    }

    .examples-area {
        gap: 20px;
    }

    .examples-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .promotion-section {
        margin-top: 10px;
    }

    .promotion-container {
        flex-direction: column-reverse;
        padding-inline: 20px;
    }

    .promotion-text {
        flex-direction: column;
        align-items: center;
    }

    .promotion-text1 {
        text-align: center;
    }

    .promotion-text2 {
        align-items: center;
    }

    .promotion-img {
        width: 60%;
    }

    .promotion-btn {
        justify-content: center;
    }

    .cta-section-container {
        padding-block: 80px;
    }

    .features-area {
        gap: 20px;
    }

}

@media screen and (max-width: 767px) {

    .primary-button {
        width: 90vw;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .features-card {
        min-width: calc(50% - 10px);
    }

    .big-feature-container, #second-big-feature {
        flex-direction: column;
    }


    .promotion-text2 {
        width: 100%;
    }

    .promotion-text h4 {
        align-items: center;
    }

    .main-list {
        flex-direction: column;
        gap: 0;
        align-self: flex-start;
        align-items: start;
    }

    .promotion-btn {
        flex-direction: column;
    }

    #promotion-primary-btn {
        width: 60vw;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .link-column {
        align-items: center;
    }

    .subfooter-container {
        gap: 20px;
        flex-direction: column;
    }


}

@media screen and (max-width: 479px) {
    :root {
        --padding-inline-section: 10px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .features-card {
        min-width: 100%;
    }

    .examples-card {
        width: 100%;
    }
}