body {
    background-color: red;
}

/* @media (400px <= width <= 600px) {
    body {
        background-color: green;
    }
} */

/* @media (orientation: portrait) {
    body {
        background-color: green;
    }
} */

@media (min-width: 400px) and (max-width: 600px) {
    body {
        background-color: green;
    }
}