@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308, #0b3317);
}

.left-text {
    flex-basis: 30%;
}

.heading {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading {
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}

.gallery {
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.box {
    font-weight: 600;
    background-size: cover;
    background-position: top;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 2px #248642, 0 0 1em #116325, 0 0 0.2em #116325;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.box:hover {
    background-color: #8b8b8b49;
    background-position: center;
    box-shadow: 0 0 4px white;
}

.row-2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 20px;
        flex-direction: column;
    }
    
    .gallery {
        width: 100%;
        grid-auto-rows: 220px;
    }

    .box {
        grid-row: span 1;
        grid-column: span 3;
    }
}