* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: black;
    --secondary-text-color: black;
    --card-background-color: #fff;
    --background-color: #eee;
    --default-margin: 30px;
}

.dark {
    --primary-text-color: #fff;
    --secondary-text-color: #dddddd;
    --card-background-color: #333;
    --background-color: #111;
}

.container {
    min-height: 100vh;
    padding: 40px;
    background-color: var(--background-color);
}

h1 {
    text-align: center;
    color: var(--primary-text-color);
}

.box {
    padding: var(--default-margin);
    margin-block: var(--default-margin);
    background-color: var(--card-background-color);
    border-radius: var(--default-margin);
}

h2 {
    margin-bottom: var(--default-margin);
    color: var(--primary-text-color);

}

p {
    color: var(--secondary-text-color);
}